{
  "singleQuote": false,
  "semi": false,
  "trailingComma": "es5",
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "useTabs": false,
  "singleAttributePerLine": false
}
